body {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

form div {
    margin: 18px 9px;
}

input[type="checkbox"] {
    display: none;
}

label {
    margin: 0 46px 10px 5px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

label[for=red] {
    color: #FF2B25;
}

label[for=green] {
    color: #389137;
}

label[for=blue] {
    color: #3D3DFF;
}

form div span {
    display: inline-block;
    margin: 2px 1px 5px 0;
    padding: 3px 7px 2px 8px;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

span[class="red"] {
    background-color: #FF2B25;
    border: 1px solid #FF2B25;
}

span[class="green"] {
    background-color: #28821D;
    border: 1px solid #28821D;
}

span[class="blue"] {
    background-color: #2A71F8;
    border: 1px solid #2A71F8;
}

#red:checked ~ label[for="red"] {
    color: #FFB7B7;
}

#green:checked ~ label[for="green"] {
    color: #B3DAB3;
}

#blue:checked ~ label[for="blue"] {
    color: #BCB8FB;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue {
    display: none;
}

